.container-input {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 1rem;
}

.label-freelance {
    display: flex;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #3E3E3C;
}

.input-freelance {
    max-width: 100%;
    position: relative;
    top: 2px;
    border: 1px solid #DDDBDA;
    border-radius: 4px;
    height: 25px;
    color: #706E6B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px
}

.input-freelance:focus {
    outline: none;
    border: 1px solid #80002F;
    box-shadow: 0px 0px 3px #da0050;
}

.input-freelance:invalid:not(:placeholder-shown) {
    outline: none;
    border: 2px solid #C23934;
    box-shadow: none;
}

.error-message {
    color: #C23934;
    font-size: 12px;
    display: none;
}

.input-freelance:invalid:not(:placeholder-shown) + .error-message {
    display: block;
}

.select-freelance {
    min-width: 100%;
    margin-bottom: 15px ;
}

.form-freelance {
    margin-bottom: 2rem;

}

.form-freelance > p{
    color: #80002F;
    text-align: center;
}
